h1 {
  color: red;
}

.auth {
  width: 30%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.align-center {
  transform: translate(-50%, 0%);
  left: 50%;
}

.block {
  text-align: center;
}
.auth-student {
  padding: 30px;
  padding-bottom: 50px;
}

.auth-admin {
  padding: 30px;
  padding-bottom: 50px;
}

.button {
  width: 100%;
}

.empty-space {
  padding: 5px;
}

.active {
  width: 100px;
}

.tab-padding {
  padding: 5px;
}

@media (max-width: 768px) {
  .auth {
    width: 70%;
  }

  .active {
    width: 70px;
  }
}
