h1 {
  color: red;
}

.auth {
  width: 30%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.align-center {
  transform: translate(-50%, 0%);
  left: 50%;
}

.box {
  text-align: center;
}
.auth-student {
  padding: 30px;
  padding-bottom: 50px;
}

.button {
  position: relative;
  transform: translate(-100%, 0%);
  left: 100%;
}

.tab-flex {
  width: 170px;
}
