{% extends "layout.html" %}
{% block title %} Registration {% endblock %}
{% block content %}

{% if 'student' == type %}
{% set activeStudent = 'is-active' %}
{% set activeAtudent = '' %}
{% endif %}

{% if "admin" == type %}
{% set activeAdmin = 'is-active' %}
{% set activeStudent = '' %}
{% endif %}


    <div class="auth-pos auth-{{type}}">
        <div class="tabs is-boxed tab-flex">
            <li class="{{activeStudent}}"><a href="{{url_for('auth_page', types = student)}}/student">Student</a></li>
            <li class="{{activeAdmin}}"><a href="{{url_for('auth_page', types = admin)}}/admin">Admin</a></li>
        </div>
        
        <input class="input is-rounded is-medium" type="text" placeholder="{{type.capitalize()}} Id">
        <br><br>
        <input class="input is-rounded is-medium" type="password" placeholder="Password">
        <br><br>
        <button class="button is-link is-rounded">Enter</button>
    </div>

{% endblock %}